.contents {
  padding: 136px 0;
  background-color: var(--main-color);
}
.title {
  font-size: 2rem;
}
.About {
  width: var(--main-width);
  margin: 0 auto;
}
.Profile {
  margin-bottom: 62px;
}
.content {
  display: flex;
  justify-content: space-between;
}
.left {
  width: 38%;
}
.left img {
  width: 100%;
}
.right {
  width: 58%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #882045;
  font-size: 0.95rem;
  color: #fff;
  padding: 42px 72px;
}
.right dl div {
  display: flex;
  margin-bottom: 16px;
}
.right dl dt {
  width: 62px;
}
.right dl dd {
  width: calc(100% - 56px);
  display: flex;
  flex-wrap: wrap;
}
.right dl dd p {
  margin: 0 5px;
}
#swichOn {
  display: block;
}
#swichOff {
  display: none;
}
