.container {
  width: 100%;
}
.titleArea {
  width: var(--main-width);
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.titleArea h1 {
  width: 440px;
  text-align: center;

  border-top-right-radius: var(--button-radius);
  border-top-left-radius: var(--button-radius);
  border: solid 3px var(--main-color);
  border-bottom: none;
}
.titleArea .active {
  background-color: var(--main-color);
  border: solid 3px var(--main-color);
  border-bottom: none;
}
.titleArea .close {
  background-color: var(--background-color);
  cursor: pointer;
}
.swichOn {
  display: block;
}
.swichOff {
  display: none;
}
