.contents {
  padding: 136px 0;
  background-color: var(--main-color);
}
.Works {
  width: 100%;
  max-width: var(--sub-width);
  margin: 0 auto;
  padding: 0 15px;
}
.grid {
  display: grid;

  grid-template-columns: 1fr 1fr 1fr;
  gap: 40px;
  margin-bottom: 24px;
}
.grid .app {
  width: 100%;
  max-width: 350px;
  margin: 0 auto;
  height: 200px;
  background-color: rgb(73, 73, 73);
  cursor: pointer;
}
.links {
  width: 100%;
  display: flex;
  justify-content: right;
}
.anchor {
  width: 110px;
  display: flex;
  align-items: center;
  position: relative;
  text-shadow: 2px 2px 3px #333;
  margin-bottom: 10px;
}
.anchor img {
  width: 15px;
  height: 15px;
  margin-left: 10px;
  opacity: 0;
}
.anchor:hover img {
  animation: fade 0.2s linear 0.2s forwards;
}
.anchor:hover p {
  color: var(--accent-color);
}
.anchor::after {
  content: "";
  width: 0%;
  height: 2px;
  background-color: #000;
  position: absolute;
  bottom: -5px;
  left: 0;
  transition: 0.3s;
}
.anchor::before {
  content: "";
  opacity: 0;
  width: 7px;
  height: 7px;
  border-color: #000 #000 transparent transparent;
  border-width: 2px;
  border-style: solid;
  position: absolute;
  bottom: -14px;
  left: 0%;
  transition: 0.2s;
  transform: translate(-50%, -50%) rotate(45deg);
}
.anchor:hover:after {
  width: 100%;
}
.anchor:hover::before {
  left: 95%;
  opacity: 1;
}
@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#swichOn {
  display: block;
}
#swichOff {
  display: none;
}

@media screen and (max-width: 930px) {
  .grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 600px) {
  .contents {
    padding: 48px 0;
  }
  .grid {
    grid-template-columns: 1fr;
  }
  .anchor {
    margin-bottom: 20px;
  }
  .anchor img {
    opacity: 1;
  }
  .anchor::after {
    width: 100%;
  }
  .anchor::before {
    opacity: 1;
    left: auto;
    right: -5px;
  }
}
